:root {
    --nav-bar-height: 70px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.map-container {
    width: 100vw;
    height: calc(100vh - var(--nav-bar-height));
    min-height: 600px;
}

nav {
    height: var(--nav-bar-height);
    display: flex;
    background-color: rgb(36,41,47);
    padding-left: 20px;
}

nav div {
    display: flex;
    width: 7rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

nav div a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-out;
    font-size: 20px;
    font-weight: 300;
}

nav div:hover {
    background-color: rgb(255, 255, 255);
}

nav div:hover a {
    color: black;
}

.loading-container {
    position: fixed; /* Sit on top of the page content */
    width: 100vw; /* Full width (cover the whole page) */
    height: calc(100vh - var(--nav-bar-height)); /* Full height (cover the whole page) */
    top: var(--nav-bar-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}